.dashboard {
    margin-top: 3em;
    padding: 3em;

    &__greeting {
        font-size: calc(1rem + 0.5vw);
        margin-bottom: 1rem;
    }

    @media (max-width: 400px) {
        &__greeting {
            f
        }
    }
}

.rating__wrapper {
    flex-basis: 10%;
    margin-right: 1em;
}
