.post {
    width: 100%;
    padding: 3em;
    padding-left: 5em;

    &__img {
        width: 60%;
    }

    &__category {
        background: var(--color-default);
        padding: 0.3em 1.8em;
        border-radius: 20px;
        color: #000;
    }

    &__layout {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}
